*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   scroll-behavior: smooth;
}

.flex-center{
   display: flex;
   justify-content: center;
   align-items: center;
}

.button{
   border-radius: 60px;
   padding: 10px;
}

:root{
   --viola: #9792E4;
   --blu: #0084FD; 
   --white: #FFFFFF;
}

section{
   padding: 3rem 0;
   scroll-margin-top: 70px;
}

.container{
   max-width: 440px;
   margin: auto;
   padding: 0 1rem;
}

.border1{
   border-radius: 1rem;
}

.border2{
   border-radius: 3rem;
}

.font-white{
   color: var(--white);
}

.font-viola{
   color: var(--viola);
}

.bg-white{
   background-color: var(--white);
}

.bg-viola{
   background-color: var(--viola);
}

.image img{
   width: 100%;
}

p,em{
   line-height: 2rem;
}

h2{
   font-size: 2.5rem;
}

h3{
   font-size: 2rem;
}

h4{
   font-size: 20px;
}

/* ----- HEADER ----- */

header{
   width: 100%;
   background-color: var(--blu);
   position: fixed;
   z-index: 9999;
   top: 0;
   left: 0;
}

header .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 70px;
}

#logo{
   line-height: 100%;
}

nav {
   display: none;
}

#hamburger {
   display: inline-block;
   font-size: 2rem;
}

ul{
   list-style: none;
}

header a{
   text-decoration: none;
   margin-left: 1rem;
}

/* ----- INTRO ----- */

#intro{
   margin: 1rem 0;
}

#intro .card{
   background-color: #B5DDFF;
   color: #5A6E7F;
   font-weight: bolder;
   width: 100%;
   margin-top: 1rem;
   text-align: center;
   padding: 2rem;
}

#intro span, #intro h4{
   color: var(--blu);
}

#intro h4{
   padding: 1rem 0;
}

#intro .button{
   background-color: var(--blu);
   margin: 2rem 0;
   width: 15rem;
   text-align: center;
}

.symbol{
   font-size: 5rem;
}

#intro .card:first-child{
   text-align: left;
}

#intro .card:first-child img{
   margin: 0 0 -37px 20px;
  }

/* ----- PLANNING ----- */

#planning h3{
   padding: 3rem 0;
}

#planning h4{
   padding: 1rem 0;
}

.cerchio{
   width: 50px;
   border-radius: 50%;
   line-height: 50px;
   margin: 1rem auto;
}

#planning .border2{
   margin: 2rem 0;
   padding: 1rem;
   text-align: center;
}

/* ----- TESTIMONIALS ----- */

#testimonials .container{
   text-align: center;
}

#testimonials img{
   height: 200px;
   width: 200px;
   object-fit: cover;
   border-radius: 50%;
   margin: 1rem;
}

#testimonials h2, #testimonials .card{
   margin: 2rem 0;
} 

#testimonials h4{
   padding: 1rem 0;
}

#testimonials .fa-quote-right, #testimonials .fa-quote-left{
   font-size: 1.5rem;
}

/* ----- FEATURES ----- */

#features h2{
   margin-bottom: 2rem;
   text-align: center;
}

#features .card{
   padding: 2rem 2rem 3rem;
   margin-top: 2rem;
   color: #5A6E7F;
}

#features .number{
   font-size: 3rem;
   font-weight: bold;
}

#features h4{
   padding: 1rem 0;
}

#features .card p{
   margin-bottom: 2rem;
}

#features .button{
   font-weight: bold;
   padding: 10px 3rem;
   text-decoration: none;
}

/* ----- ABOUT-US ----- */

#about-us p{
   padding: 2rem 0;
}

#about-us img{
   height: 200px;
   width: 200px;
   object-fit: cover;
   border-radius: 50%;
   margin: 1rem;
}

#about-us .image{
   position: relative;
   display: inline-block;
}

#about-us .fa-quote-left{
   position: absolute;
   top: 0;
   right: 0;
   font-size: 5rem;
}

#about-us a{
   text-decoration: none;
}

#about-us h3{
   margin-bottom: 2rem;
}

/* ----- GET STARTED ----- */

#get-started{
   text-align: center; 
}

#get-started h4{
   font-weight: 100;
   color: #D5D4F4;
   padding-bottom: 2rem;
}

#get-started h2{
   font-size: 4rem;
   color: #FDC15F;
   padding: 3rem 0;
   font-weight: normal;
}

#get-started .button{
   padding: 1rem 4rem;
   text-decoration: none;
}

#get-started .container div{
   padding: 3rem;
}

/*----- FOOTER ----- */

footer{
   background-color: #333333;
}

footer p{
   padding: 2rem 0;
   text-align: center;
}

/* ----- TABLET ----- */
@media screen and (min-width: 768px) {
   
   .container{
      max-width: 730px;
      margin: auto;
   }

   .cards{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  #intro .card{
   width: calc(100% / 3 - 10px);
  }

  #intro .card:first-child{
   width: calc(100% / 3 * 2 - 5px);
  }

  #intro .image{
   width: 70%;
   }

  #testimonials .card{
   display: flex;
  }

  #testimonials .card div{
   align-self: center;
   text-align: left;
  }

  #features .card{
   width: calc(100% / 2 - 10px);
  }

  #about-us .container{
   display: flex;
   justify-content: space-between;
   padding-bottom: 2rem;
  }
  
  #about-us .container > div:first-child{
   margin-right: 3rem;
  }
  
  #get-started .container{
      max-width: 550px;
  }

  footer .container{
   max-width: 550px;
   }

}

/* ----- DESKTOP ----- */
@media screen and (min-width: 992px){

   .container{
      max-width: 960px;
      margin: auto;
   }
  
   nav {
      display: inline-block;
   }

   nav .button{
      color: black;
   }

   #hamburger {
      display: none;
   }

   #intro .card:first-child{
      display: flex;
   }

   #intro .image{
      align-self: end;
      width: 150%;
   }

  #planning .container{
   display: flex;
   align-items: end;
   justify-content: space-around;
  }

  #planning .bg-white{
   margin: 0;
  }

  #planning .bg-white .image{
   width: 70%;
   margin: auto;
  }

  #planning .container > div{
   width: calc(100% / 2 - 4rem);
  }

  #features .card{
     width: calc(100% / 3 - 10px);
  }

}
